.c-button {
  @include text(Raleway, 600, 15px, 28px, #fff);
  display: block;
  padding: 12px 30px;
  background: rgba(255, 255, 255, 0);
  border: 1px solid #fff;
  border-radius: 4px;
  cursor: pointer;

  &:hover,
  &:focus {
    background: #333;
  }

  &_orange {
    background: #fa8f21;
    color: #fff;

    &:hover {
      color: #333;
      background: white;
      border: 1px solid #333;
    }
  }
}
