.l-process {
  display: flex;
  justify-content: center;
  background: #fff;

  &__flexwrapper {
    flex-direction: column;
    margin-top: 100px;
    margin-bottom: 100px;
  }

  &__heading {
    margin-top: 0;
    &::after {
      @include line(#ff8b38);
    }
  }

  &__items {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 66px;
  }

  &__item {
    max-width: 350px;
    text-align: center;

    &-image {
      margin-bottom: 26px;
    }

    &-heading {
      @include text(Raleway, 700, 20px, 24px, #333);
      margin-bottom: 16px;
    }

    &-text {
      @include text(Raleway, 400, 14px, 20px, #86878b);
    }
  }
}
